body{
    background-color: rgb(153, 47, 252);
}
img{
    margin-left: 510px;
    width: 500px;
    box-shadow: 0px 0px 30px;
    margin-top: 100px;
}
h1{
    margin-left: 730px;
    margin-top: -330px;
    color: white;
}
input{
    border-radius: 30%;
    border: solid;
    background-color: transparent;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.v{
    border-radius: 40%;
    border: solid;
    background-color: white;
    color: rgb(0, 0, 0);
}
form{
    border: solid white;
    width: 200px;
  position: absolute;  
  left: 680px;
}


